@prefix ont: <http://www.semanticweb.org/mate85#>.

[rule1: (?c rdf:type ont:Cliente) (?c ont:temContaBancaria ?x ) (?x ont:saldoAtual ?saldo) durationDateTime(1,"1999-11-01T10:00:36.043Z","2001-12-01T11:12:36.043Z","month") lessThan(?saldo, 0) ge(?saldo, -2000) (ont:EmprestimoLight ont:valorContratado ?vc) sum(?vc, ?saldo, ?total) now(?dataAtual) -> (?x ont:contratarEmprestimo ont:EmprestimoLight) (?x ont:comChequeEspecial ?saldo) (?x ont:saldoAtual ?total) (?x ont:dataContratoEmprestimo ?dataAtual)]